/* color-section */
.bg-lightpink{
    background-color: rgb(228, 224, 224);
}
.bg-babypink {
    background-color: #FFFBF0;
}
.text-babypink {
    color: #FFFBF0;
}
.text-orange{
    color: #FABE4C;
}
.text-blue{
    color: #363958;
}
/* masurement-unit */
.t-73{
    top: 73px;
}
.my-80{
    margin-top: 80px;
    margin-bottom: 80px;
}
/* height & width */
.h-46{
    height: 46%;
}
.w-35{
    width: 35%;
}
.w-80{
    width: 80%;
}
/* font-size */
.fs-80{
    font-size:3em;
}
/* button */
.btn-green{
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    color: white;
    font-weight:500;
    border: none;
}
.btn-green:hover{
    background: linear-gradient(180deg, #8b9f3a 0%, #6c8115 100%);
    color: white;

}
/* link-nav-section */
.a-link {
    text-decoration: none;
    color: #FF9D00;

}

.a-link:hover {
    color: #e28f08;
}
